[credential]
	helper = store
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	ghist = log --graph --decorate --oneline --all
[user]
	name = Никита Встовский	
	email = nikita.vstovsky@fogstream.ru
[core]
	editor = vim
