# HiDPI for QT
export QT_AUTO_SCREEN_SCALE_FACTOR=1
# export QT_DEVICE_PIXEL_RATIO=2

# HiDPI for GDK 3(GTK+ 3)
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5

# VA-API
export LIBVA_DRIVER_NAME=i965  # or use iHD

# VDPAU
export VDPAU_DRIVER=va_gl
